.u-section-1 .u-sheet-1 {
  min-height: 2090px;
}

.u-section-1 .u-group-elements-1 {
  width: 827px;
  min-height: 79px;
  height: auto;
  margin: 37px auto 0 -25px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 0px 0px 8px rgba(153,153,153,1);
  margin: 3px 29px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  text-shadow: 0px 0px 8px rgba(13,102,0,1);
  margin: -66px 130px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  text-shadow: 0px 0px 8px rgba(26,255,0,1);
  margin: -69px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  text-shadow: 0px 0px 8px rgba(13,102,0,1);
  margin: -75px 0 0 auto;
}

.u-section-1 .u-text-5 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 0 0 37px;
}

.u-section-1 .u-text-6 {
  text-shadow: 0px 0px 8px rgba(13,102,0,1);
  margin: -195px 188px 0 837px;
}

.u-section-1 .u-text-7 {
  text-shadow: 0px 0px 8px rgba(13,102,0,1);
  margin: -28px -25px 0 972px;
}

.u-section-1 .u-text-8 {
  text-shadow: 0px 0px 8px rgba(13,102,0,1);
  margin: 137px 445px 0 580px;
}

.u-section-1 .u-image-1 {
  height: 236px;
  width: 602px;
  margin: 64px 49px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: -212px 128px 0 510px;
}

.u-section-1 .u-image-2 {
  width: 23px;
  height: 23px;
  margin: -208px 59px 0 auto;
}

.u-section-1 .u-text-10 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  font-weight: normal;
  margin: 55px 742px 0 39px;
}

.u-section-1 .u-image-3 {
  height: 181px;
  width: 602px;
  margin: 141px 49px 0 auto;
}

.u-section-1 .u-text-11 {
  margin: -160px 135px 0 510px;
}

.u-section-1 .u-image-4 {
  width: 23px;
  height: 23px;
  margin: -149px 59px 0 auto;
}

.u-section-1 .u-text-12 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  font-weight: normal;
  margin: 4px 675px 0 39px;
}

.u-section-1 .u-image-5 {
  height: 132px;
  width: 602px;
  margin: 117px 49px 0 auto;
}

.u-section-1 .u-text-13 {
  margin: -108px 136px 0 510px;
}

.u-section-1 .u-image-6 {
  width: 23px;
  height: 23px;
  margin: -98px 59px 0 auto;
}

.u-section-1 .u-text-14 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: -16px 661px 0 37px;
}

.u-section-1 .u-text-15 {
  text-shadow: 0px 0px 8px rgba(13,102,0,1);
  margin: -28px 742px 0 284px;
}

.u-section-1 .u-image-7 {
  height: 460px;
  width: 603px;
  margin: 113px 48px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 23px;
  height: 23px;
  margin: -450px 58px 0 auto;
}

.u-section-1 .u-text-16 {
  margin: -13px 39px 0 510px;
}

.u-section-1 .u-text-17 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: -163px 702px 0 50px;
}

.u-section-1 .u-text-18 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: 161px 32px 0;
}

.u-section-1 .u-text-19 {
  text-shadow: 0px 0px 8px rgba(71,138,201,1);
  margin: 0 967px 0 87px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-20 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: -28px 445px 60px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 88px;
    margin-left: 737px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 872px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 345px;
    margin-left: 480px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 28px;
    margin-left: 410px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 581px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 35px;
    margin-left: 410px;
  }

  .u-section-1 .u-text-12 {
    font-weight: 400;
    margin-right: 514px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 36px;
    margin-left: 410px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 498px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 642px;
    margin-left: 184px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 349px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 552px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 854px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 277px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 605px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 762px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 235px;
    margin-left: 370px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 218px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 361px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 294px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 226px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 278px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 532px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 129px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 332px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 634px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1985px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 425px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 672px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 145px;
    margin-left: 280px;
  }

  .u-section-1 .u-image-1 {
    height: 212px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: -188px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 181px;
  }

  .u-section-1 .u-image-3 {
    height: 162px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: -141px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 114px;
  }

  .u-section-1 .u-image-5 {
    height: 118px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: -94px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 98px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 426px;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    height: 412px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    margin-top: -402px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 152px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 454px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1649px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    margin-left: 225px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 572px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 45px;
    margin-left: 180px;
  }

  .u-section-1 .u-image-1 {
    height: 133px;
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -109px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 102px;
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -81px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 74px;
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -50px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 226px;
  }

  .u-section-1 .u-image-7 {
    height: 259px;
    width: 340px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -249px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 254px;
  }
}body{ 
	-ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}